@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    width: 100%;
    font-family: 'Permanent Marker', sans-serif
}

.grid-container {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
}   

.grid-child  {
    border: 2px solid #000;
}

.pizza-container {
    grid-row: span 4;
}

.bill-container {
    grid-row: span 2;
}

.toppings-container,
.crust-container {
    grid-row: span 3;
}

/* THE STYLINGS */
.toppings-container,
.crust-container {
    width: 360px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: center;
}

.toppings-head,
.crust-head {
    background: rgb(13, 137, 219);
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.toppings-genres {
    display: flex;
}

.toppings-genre {
    width: 50%;
    padding: 5px;
    background: #eee;
    cursor: pointer;
}

.toppings-genre:hover {
    background: #ccc;
}

.toppings-body {
    position: relative;
    height: calc(100% - 73px);
}

.toppings-body-non,
.toppings-body-veg {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: left;
}

.toppings-body-non {
    display: none;
}

.toppings-body-veg {
}

.topping {
    display: flex;
    align-items: center
}

.topping img {
    width: 40px;
}

.topping span {
    margin-left: 5px;
}